#about-container {
  width: 60%;
  margin: 0 auto;
  margin: 2em auto 2em;
  }
  
  #about-section {
    width: 100%;
    padding: 1em;
    border-radius: 0.625em;
    background-color: rgb(25, 26, 31);
    /* -webkit-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21);
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21); */
  }
  
  #about-me-intro {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  #selfie {
    width: 10.5em;
    margin: 2em auto;
  }