#contact {
  background-color: rgb(18, 20, 22);
}

#contact-container {
  width: 600px;
  margin: 2em auto 2em;
}

#contact-container .section-title {
  color: rgb(255, 255, 255);
}

#contact-section {
  padding: 1em;
  background-color: rgb(0, 0, 0);
  border-radius: 0.625em;
  font-family: "Josefin Sans", sans-serif;
}

#contact-subtitle {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  margin: -1.5em 0 2em;
}

.label.contact {
  color: rgb(255, 255, 255);
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 1em;
}

.form-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#message-input {
  height: 12.5em;
}

#contact-submit {
  font-family: "Josefin Sans";
  transition: 0.3s;
}

#contact-submit:hover {
  font-family: "Josefin Sans";
  background-color: rgb(46, 196, 138);
}

.curved svg {
  background-color: black;
}
