#home-container {
  width: 100%;
  height: auto;
  margin: 8em auto -6em;
  text-align: center;
}

.highlight.homepage {
  color: rgb(29, 206, 117);
  text-decoration: underline;
  transition: 0.3s;
}

#greeting-container {
  margin: 0 auto;
}

#greeting {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

#greeting-intro {
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
