.sidebar {
  background-color: rgb(18, 20, 22);
  height: 100%;
  width: 15em;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all .2s;
  border-right: 3px black solid;
  z-index: 6;
}

.sidebar-hide, #sidebar-exit {
  width: 0em;
  height: 100%;
  transition: all .2s;
}

.sidebar #sidebar-exit {
  color: white;
}

.sidebar-hide a {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0.75em;
  font-size: 27px;
  list-style-type: none;
}

.list-item {
  padding-bottom: 0.25em;
}

.list-item {
  float: left;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  color: rgb(15, 209, 135);
  padding-left: 10px;
}

#social-container {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: black;
  align-self: flex-start;
}

.sidebar-icon {
  width: 30px;
  padding-right: 10px;
}

#hamburger-toggle {
  font-size: 35px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px 0em 0em 20px;
  z-index: 5;
  cursor: pointer;
}

#hamburger-toggle:hover {
  color: rgb(15, 209, 135);
}

#sidebar-exit {
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
  width: 1em;
}

#sidebar-exit:hover {
  color: red;
}

/* #logo {
  position: absolute;
  width: 50px;
  top: 18px;
  right: 18px;
} */