#skills-container {
  background-color: transparent;
  width: 75%;
  min-height: 500px;
  padding: 2em 5em 5em 5em;
  margin: 0 auto;
  text-align: right;
}

#skills-section {
  margin: auto;
  min-height: 350px;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  color: white;
}

.skills-language, .skills-libfra, .skills-topl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.skill-tiles-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 150px;
  grid-gap: 20px;
}

.skill-tile i {
  font-size: 50px;
}

#skills-curved-bottom {
  background-color: rgb(139, 179, 212);
}