#work-container {
  width: 80%;
  margin: 2em auto 2em; 
}

#work-section {
  padding: 2em;
  margin: auto;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background-color: rgb(25, 26, 31);
  border-radius: 0.625em;
  display: flex;
  justify-self: center;
  align-items: flex-end;
  /* -webkit-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.21); */
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-item {
  width: 250px;
  height: 350px;
  border: 5px rgb(255, 255, 255);
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  background-image: url("../img/covid-19-thumb.png");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-title {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  padding: 0.2em;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0,0,0, 0.8);

}

.project-description {
  color: rgb(29, 206, 117);
  padding: 0.8em;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: rgba(0,0,0, 0.8);
}

.project-buttons-container {
  text-align: center;
}

.project-button {
  margin: 0.5em;
  font-family: "Josefin Sans", sans-serif;
}

.project-button-text {
  color: white;
  transition: 0.3s;
}

.project-button-text:hover {
  color: rgb(29, 206, 117);
}

.project-thumbnail {
  text-align: center;
  display: block;
}
