* {
  scroll-behavior: smooth;
}

html {
  background-color: rgb(0, 0, 0);
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: 5px white solid;
}

.content-container {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.section-container {
  background-color: rgb(18, 20, 22);
  padding-bottom: 2.5em;
}

.section-title {
  margin: 0.5em 0 0.8em;
  border-bottom: 2px white solid;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

/* ---- Misc ---- */

.highlight {
  color: rgb(85, 187, 127);
}