* {
  scroll-behavior: smooth;
}

html {
  background-color: whitesmoke;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-container {
  width: 100%;
  border-top: 10px rgb(255, 255, 255) solid;
  border-right: 10px rgb(255, 255, 255) solid;
  border-bottom: 10px rgb(255, 255, 255) solid;
  border-left: 10px rgb(255, 255, 255) solid;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-bottom: 0.75em;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* ---- Misc ---- */

.highlight {
  color: rgb(15, 209, 135);
}

#arrow-down {
  width: 1.5em;
}

.curved {
  overflow: auto;
  margin-bottom: -5em;
}

.curved svg {
  float: left;
}
